@font-face {
    font-family: MuseoSans; /* Гарнитура шрифта */
    src: local(MuseoSans), url('/MuseoSansCyrl.otf'); /* Для остальных браузеров */
}
header {
  position: relative;
  min-height: 500px;
}

.header-content::after {
  background: red;
  opacity: 0.5;
  width: 100%;
  content:' ';
  position: absolute;
  height: 100%;
  display: block;
  top:0;
  min-height: 500px;
  z-index: 0;
  clear: both;
}
.header-content {
  position: relative;
  min-height: 500px;
  background: url("/img/header-image.png") no-repeat;
  background-size: auto;
}

nav ul li {
  font-family: MuseoSans;
  display: inline;
  margin:0 25px;
  font-size: 18px;
  font-weight:900;
}

nav{
  z-index: 1;
  position: relative;
  margin: 50px 0 0;
  float: right;
}
nav a {
  color:white;
}
nav a:hover {
  text-decoration: none;
  color: black;
}

.header-indent {
  display: block;
  width: 100%;
  height: calc(100vh - 630px);
  clear: both;
}
.header-text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
.header-text h1 {
  font-size: 60px;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
}

.header-text h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.header-text h3{
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
}

.learn-more {
  width: 257px;
  height: 55px;
  background: #1a1a1a;
  color: white;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

.learn-more:focus, .learn-more:hover {
  text-decoration: none;
  color: white;
}

.learn-more-content {
  margin: 30px 0;
}



.after-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #1a1a1a;
  height: 180px;
  clear: both;
  float: left;
}

.after-header-text {
  color:white;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
}

.inquire {
  background: red;
  color:white;
  font-size: 24px;
  text-align: center;
  border-radius: 30px;
  padding: 8px 50px;
  margin: 0 auto;
}


.inquire:focus, .inquire:hover {
  text-decoration: none;
  color: white;
}
.inquire-content {
  margin: 10px 0;
  text-align: center;
}
.white-block {
  width:100%;
  clear: both;
}
.white-block .the {
  display: inline-block;
  font-size: 39px;
  margin: 0 auto;
  font-weight: 300;
  text-transform: uppercase;
}
.white-block .platform {
  display: inline-block;
  font-weight: 900;
}
.white-block-header {
  text-align: center;
  margin-top:100px;
  opacity: 0.8;
}
.hydra {
  text-align: center;
  font-size: 24px;
  opacity: 0.8;
  margin-bottom: 90px;
}
.left-1-img {
  background: url("/img/pink.jpg") no-repeat;
  height: 306px;
}
.white-block-text-header {
  margin-bottom: 30px;
  font-size: 24px;
  opacity: 0.8;
  font-weight: 700;
}
.white-block-text {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 150px;
}
.left-2-img {
  background: url("/img/spyth.jpg") no-repeat;
  height: 442px;
}

.right-1-img {
  background: url("/img/boxes.jpg") no-repeat;
  height: 340px;
}

.white-block-img {
  margin-bottom: 150px;
  background-size: contain;
}

.left-block::after {
  content:' ';
  position: absolute;
  right: 0;
  top:0;
  width: 1px;
  background: grey;
  height: 900px;
  opacity: 0.5;
  z-index: 50;
}

.right-block {
  margin-left: 0px;
}

.white-block-red-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #bf1c22;
  position: absolute;
  z-index: 100;
}
.circle-1 {
   top: 0;
   right: -15px;
 }
.circle-2 {
  top: 80px;
  right: -15px;
}

.white-block-white-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  position: absolute;
  background: white;
  z-index: 70;
}

.circle-3 {
  top:-5px ;
  right: -20px;
}
.circle-4 {
  top:450px;
  right: -20px;
}
.circle-5 {
  top:900px;
  right: -20px;
}
.white-block ul li {
  display: inline;
  text-decoration: none;
  margin-right: 20px;
  opacity: 0.5;
}

.your-product {
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
  width: 100%;
  height: auto;
}

.your-product-content {
  padding-top: 150px;
  padding-bottom: 150px;
}

.your-product-content-header {
  display: inline;
  color:white;
  font-size: 39px;
  font-weight: 900;
}
.second-word-header {
  font-weight: 300;
  display: inline;
}

.your-product .subheader {
  font-style: italic;
  font-size: 14px;
  color:white;
}

.your-product-content-text {
  padding: 0;
  margin-top:50px;
  color:white;
  margin-bottom: 30px;
}
.your-product-content-text h4 {
  color:black;
}

.line {
  position: absolute;
  width: 90%;
  height: 1px;
  background: white;
  right: -220px;
  top:12px;
}

.line::after {
  position: absolute;
  content:'+';
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: red;
  line-height: 30px;
  text-align: center;
  right: 0;
  top:-15px;
}

.square {
  height: 420px;
  padding: 0;

}

.your-product-square {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  border: 2px dashed #bf1c22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:white;
  font-size: 24px;
  font-weight: 700;
}
.your-product-square-text {
  padding: 50px 0;
}
.people {
  width: 100%;
  padding: 150px 0;
}

.people-header {
  text-align: center;
  display: inline;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 0;
}

.people-after-header {
  display: inline;
  font-weight: 900;
  margin-bottom: 30px;
}

.people-subheader {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
}

.manager {
  text-align: center;
  margin-top: 100px;
}
.manager-photo-1 {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: url(/img/photo1.jpg) no-repeat;
  background-size: cover;
  margin:0 auto;
  margin-bottom: 40px;
}
.manager-name {
  font-size: 26px;
}
.manager-position {
  font-size: 18px;
  margin-bottom: 20px;
}
.manager-text {
  font-size: 16px;
}

.manager-photo-1::after {
  position: absolute;
  content: ' ';
  background: url("/img/circle-people.png") no-repeat;
  width: 194px;
  height: 191px;
  margin: 0 auto;
  right: -20px;
  bottom: -20px;
}

footer {
  width: 100%;
  background: #1a1a1a;
  padding: 80px;
}
.connect {
  padding: 0;
  padding-bottom: 40px;
}
.connect-text {
  color: white;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 300;
}

.connect li {
  display: inline;
  margin-right: 20px;
  padding-bottom:70px;

}
.connect ul {
  margin-top: 10px;
  padding: 0;
}
.connect a:hover {
  opacity: 0.5;
}
.sign-up {
  padding: 0;
  padding-bottom: 40px;
}
.sign-up-text {
  color: white;
  opacity: 0.5;
  font-size: 24px;
  margin-bottom: 10px;
}

.email {
  height: 48px;
  width: 80%;
  border-radius: 10px;
  background: #323232;
  border: 1px solid #1a1a1a;
  color: white;
  opacity: 0.5;
  font-size: 17px;
  padding-left: 5px;
}
.email:hover {
  border: 1px solid white;
}

.sign-up input:focus{
  outline: none;
}

.contact {
  position: relative;
  padding-bottom: 40px;
}
.contact-header {
  color:white;
  opacity: 0.5;
  font-size: 24px;
  margin-bottom: 5px;
}

.contact:before{
  position: absolute;
  top:10px;
  left: 0;
  width: 1px;
  height: 87px;
  content: ' ';
  background: white;
  opacity: 0.5;
}
.copy {
  color:white;
  opacity: 0.5;
}

